<div class="navbar-fixed z-depth-0 hide-on-med-and-down">
  <nav class="grey-text darken-3-text white">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo arcana-orange" style="width:15vw;max-height:64px;overflow:hidden;">
        <img src="img/arcana.png?v=1.1"/>
      </a>
      <ul id="nav-mobile" class="right" >
        <li class="arcana-orange">
          <a class="white-text"  routerLink='/product/colageno'>COMPRA AQUÍ</a>
        </li>
        <li>
          <a [ngClass]="{'arcana-orange-text': menu==='shop'}"  routerLink='/product/colageno'>PRODUCTOS</a>
        </li>
        <li>
          <a [ngClass]="{'arcana-orange-text': menu==='about'}" routerLink='/about'>NOSOTROS</a>
        </li>
        <li>
          <a [ngClass]="{'arcana-orange-text': menu==='manifest'}" routerLink='/manifest'>MANIFIESTO</a>
        </li>
        <li>
          <a [ngClass]="{'arcana-orange-text': menu==='faq'}" routerLink='/faq'>PREGUNTAS FRECUENTES</a>
        </li>
        <li>
          <a [ngClass]="{'arcana-orange-text': menu==='blog'}" routerLink='/blog'>BLOG</a>
        </li>
        <!-- <li *ngIf="!logged_user">
          <a [ngClass]="{'arcana-orange-text': menu==='login'}" routerLink='/login'>LOG IN</a>
        </li> -->
        <li >
          <a routerLink="/cart" >
            <i class="material-icons left">shopping_basket</i>{{in_cart}}
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="navbar-fixed hide-on-large-only">
  <nav style="top: 80px;height: 40px;line-height: 40px;background-color: rgba(220,90,40,0.5);">
    <li class="center" style="list-style-type: none;">
      <a class="white-text"  routerLink='/product/colageno'>COMPRA AQUÍ</a>
    </li>
  </nav>
  <nav class=" mobile-sidenav-header">
    <div class="container">
      <ul id="slide-out" [ngClass]="{'show-menu': mobile_state==='show'}" class="side-nav fixed mobile-sidenav-content" style="top:80px">
        <li>
          <a (click)="MobileClicked()" [ngClass]="{'arcana-orange-text': menu==='shop'}"  routerLink='/product/colageno'>PRODUCTOS</a>
        </li>
        <li>
          <a (click)="MobileClicked()" [ngClass]="{'arcana-orange-text': menu==='about'}" routerLink='/about'>NOSOTROS</a>
        </li>
        <li>
          <a (click)="MobileClicked()" [ngClass]="{'arcana-orange-text': menu==='manifest'}" routerLink='/manifest'>MANIFIESTO</a>
        </li>
        <li>
          <a (click)="MobileClicked()" [ngClass]="{'arcana-orange-text': menu==='faq'}" routerLink='/faq'>PREGUNTAS FRECUENTES</a>
        </li>
        <li>
          <a (click)="MobileClicked()" [ngClass]="{'arcana-orange-text': menu==='blog'}" routerLink='/blog'>BLOG</a>
        </li>
        <!-- <li *ngIf="!logged_user">
          <a [ngClass]="{'arcana-orange-text': menu==='login'}" routerLink='/login'>LOG IN</a>
        </li> -->
        <li >
          <a routerLink="/cart" >
            <i class="material-icons left">shopping_basket</i>{{in_cart}}
          </a>
        </li>
      </ul>
      <a *ngIf="mobile_state!='show'" (click)="ShowMobile()" class="button-collapse white-text" >
        <i class="material-icons">menu</i>
      </a>
      <a *ngIf="mobile_state=='show'" (click)="MobileClicked()" class="button-collapse white-text" >
        <i class="material-icons">menu</i>
      </a>
      <a routerLink="/">
        <img alt="ARCANA" style="margin-top:8px;" src="img/arcana.png?v=1.1">
      </a>
      <a routerLink="/cart" class="button-cart white-text">
         <i class="material-icons">shopping_basket</i>
      </a>
      <a routerLink="/cart" class="button-cart white-text">
         {{in_cart}}
      </a>

    </div>
  </nav>
</div>
