<website-menu menu="about"></website-menu>
<side-title title="NOSOTROS"></side-title>
<div class="container main-container">
  <section *ngIf="data.content">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s12">
            <p class="justify" [innerHTML]="data.content | safeHtml">

            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<elixir-footer></elixir-footer>
