<website-menu menu="blog"></website-menu>
<side-title title="BLOG"></side-title>
<div class="container main-container">
  <div class="row" style="padding-top:5vh;padding-bottom:5vh;">
    <div class="col s12 m4 offset-m1 no-padding">
      <div class="card-panel blog-menu">
        <div class="row">
          <div class="col s12">
            <img src="img/recetas.png" class="responsive-img"/>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <span class="grey-text darken-3-text" style="font-size:1.5rem;">RECETAS</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col s12 m4 no-padding">
      <div class="card-panel blog-menu">
        <div class="row">
          <div class="col s12">
            <img src="img/blog/experts.png" class="responsive-img"/>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <span class="grey-text darken-3-text" style="font-size:1.5rem;">POR EXPERTOS</span>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col s12 m4 offset-m1 no-padding">
      <div class="card-panel blog-menu">
        <div class="row">
          <div class="col s12">
            <img src="img/otras_fuentes.png" class="responsive-img"/>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <span class="grey-text darken-3-text" style="font-size:1.5rem;">OTRAS FUENTES</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<elixir-footer></elixir-footer>
