<section *ngIf="from!='admin'">
  <website-menu menu="cart"></website-menu>
  <side-title title="CARRITO"></side-title>
  <div class="navbar-fixed" style="z-index:900;">
    <nav>
      <div class="nav-wrapper grey lighten-3">
        <ul id="nav-mobile" class="center">
          <div class="row center">
            <div class="col s4 no-padding">
              <li style="min-width: 100%" class="active grey lighten-2 arcana-orange-text">
                <i class="material-icons">
                  shopping_basket
                </i>
              </li>
            </div>
            <div class="col s4">
              <li style="min-width: 100%" >
                <i class="material-icons">
                  local_shipping
                </i>
              </li>
            </div>
            <div class="col s4">
              <li style="min-width: 100%" >
                <i class="material-icons">
                  payment
                </i>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</section>

<div class="container main-container" style="margin-left:18vw;width:80vw;">
<section id="goShopping" *ngIf="!items">
  <h4>Tu carrito esta vacío, visita nuestro menu <i routerLink="/products" style="cur">PRODUCTOS</i></h4>
  <!-- <features></features> -->
</section>
<section *ngIf="cart">
  <div class="row" style="margin-top:30px;">
    <div class="col s12 m8">
      <table class="responsive-table">
        <thead>
          <tr>
              <th>Producto</th>
              <th>Nombre</th>
              <th>Detalles</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Precio</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of cart.cart;let i = index">
            <td >
              <img class="hide-on-small-only" src="{{item.mainImage}}" style="width:auto;height:80px;max-height:80px;"/>
              <img class="hide-on-med-and-up" src="{{item.mainImage}}" style="width:auto;height:20px"/>
            </td>
            <td>{{item.productName}}
            </td>
            <td>{{item.variantShortDesc}}</td>
            <td>{{item.price | number:'.2'}}
            </td>
            <td>
              <a *ngIf="item.quantity>1" class="waves-effect waves-light btn-flat" style="padding:0 1rem" (click)="removeFrom(i)">
                <b>
                  <i class="material-icons arcana-orange-text">
                    remove
                  </i>
                </b>
              </a>
              <a *ngIf="item.quantity<2" class="waves-effect waves-light btn-flat" style="padding:0 1rem" (click)="delete(i)">
                <i class="material-icons arcana-orange-text">
                  remove
                </i>
              </a>
              {{item.quantity}}
              <a *ngIf="!item.start_detox" class="waves-effect waves-light btn-flat" style="padding:0 1rem" (click)="addTo(i)">
                <b>
                  <i class="material-icons arcana-orange-text">
                    add
                  </i>
                </b>
              </a>
            </td>
            <td>
              <span *ngIf="item.discount">-{{item.discount.amount | number:'.2'}} = </span>{{item.amount | number:'.2'}}
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col s12 l4">
      <div class="card no-margin">
        <div class="card-content" >
          <div class="row">
            <div class="col s6">
              <h6>
                Subtotal:<br>
              </h6>
            </div>
            <div class="col s6">
              <h6 >
                {{cart.subtotal | currency:'MXN'}}
              </h6>
            </div>
          </div>
          <div class="row" *ngIf="cart.applied_code && cart.applied_code!='costco'">
            <div class="col s12">
              <h6 class="left">
                Código aplicado: {{cart.applied_code}}<span *ngIf="cart.discount">, descuento: {{cart.discount.amount | currency:'MXN'}}</span>
              </h6>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col s6">
              <h6 class="left">
                Envío:
              </h6>
            </div>
            <div class="col s6">
              <h6 class="left">
                Incluído
              </h6>
            </div>
          </div> -->
          <div class="row">
            <div class="col s6">
              <h5 class="">
                Total:<br>
              </h5>
            </div>
            <div class="col s6">
              <h5 class="">
                {{cart.amount | currency:'MXN'}}
              </h5>
            </div>
          </div>
          <section *ngIf="!cart.applied_code">
            <div class="row">
              <div class="input-field col s12"  style="padding-bottom:20px;">
                <input id="code" type="text" class="validate" [(ngModel)]="code">
                <label for="code">Código Promocional</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center" style="padding-bottom:20px;">
                <a class="btn arcana-orange waves-effect" (click)="applyCode()"  style="width:100%;">
                  Aplicar código
                </a>
              </div>
            </div>
          </section>
          <div class="row">
            <div class="col s12 center">
              <a *ngIf="from!='admin'" routerLink="/shipping" class="btn arcana-orange waves-effect" style="width:100%;">
                Continuar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<elixir-footer *ngIf="from!='admin'"></elixir-footer>
