<website-menu menu="cart"></website-menu>
<div class="row">
  <div class="col s12" *ngIf="step=='cart'">
    <cart></cart>
    <a class="btn light-green waves-effect" style="position:fixed;bottom:10%;right:10%;" (click)="setStep('ship')">
      Continuar
    </a>
  </div>
  <div class="col s12" *ngIf="step=='ship'">
    <ship></ship>
    <a class="btn light-green waves-effect" style="position:fixed;bottom:10%;right:10%;" (click)="setStep('pay')">
      Continuar
    </a>
  </div>
  <div class="col s12" *ngIf="step=='pay'">
    <payment></payment>
  </div>
</div>
