<website-menu menu="faq"></website-menu>
<side-title title="PREGUNTAS"></side-title>
<div class="container main-container">
  <div class="row">
    <div class="sticky_sidebar col hide-on-small-only m4" >
      <ul class="section table-of-contents" style="z-index: -1;">
        <li style="padding-bottom:30px" *ngFor="let faq of faqs; let i = index"><a (click)="scroll(faq.order)" style="font-size:1rem;">{{i+1}}. {{faq.question}}</a><br/></li>
      </ul>
    </div>
    <div class="col s12 m8">
      <div class="row" *ngFor="let faq of faqs">
        <div id="{{faq.order}}" class="col s12 justify">
          <!-- <p style="text-transform:uppercase"><b>{{faq.question}}</b></p> -->
          <h5 style="font-weight:200">{{faq.question}}</h5>
          <p class="justify" [innerHTML]="faq.answer">

          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<elixir-footer></elixir-footer>
