
<footer class="page-footer grey lighten-1 white-text" style="margin-top:0;position:relative;">
  <div class="orange-box hide-on-med-and-down"></div>
  <div class="container">
    <div class="row">
      <div class="col l3 m3 s6 center">
        <img src="arcana.png" style="background-size:contain" height="107px" width="auto">
      </div>
      <div class="col l3 m3 s6">
        <ul style="margin:0;">
          <li><a class="white-text" routerLink="/">Home</a></li>
          <li><a class="white-text" routerLink="/products">Productos</a></li>
          <li><a class="white-text" routerLink="/about">Nosotros</a></li>
          <li><a class="white-text" routerLink="/manifest">Manifiesto</a></li>
          <li><a class="white-text" routerLink="/faq">Preguntas</a></li>
          <li><a class="white-text" routerLink="/blog">Blog</a></li>
          <li><a class="white-text" routerLink="/login">Login</a></li>
        </ul>
      </div>
      <div class="col l3 m3 s6 center">
        <span>Pago seguro con:</span><br/>
        <i class="white-text fa fa-2x fa-paypal"></i>
        <i class="white-text fa fa-2x fa-cc-mastercard"></i>
        <i class="white-text fa fa-2x fa-cc-visa"></i>
        <i class="white-text fa fa-2x fa-cc-amex"></i>
      </div>
      <div class="col l3 m3 s6 center">
        <a><span class="grey-text text-lighten-3">WhatsApp. <br>(+52 1) 55 8080 3410</span></a><br/>
        <a href="mailto:hola@arcanafoods.com"><span class="footer-text">hola@arcanafoods.com</span></a>
        <br>
        <ul class="socialmedia">
          <li style="display:inline-block"><a href="http://www.facebook.com/arcanafoods" target="_blank">
            <i class="white-text fa fa-2x fa-facebook-square"></i>
          </a></li>
          <!-- <li style="display:inline-block"><a href="http://twitter.com/arcana" target="_blank">
            <i class="white-text fa fa-2x fa-twitter-square"></i>
          </a></li> -->
          <li style="display:inline-block"><a href="http://instagram.com/arcanafoods" target="_blank">
            <i class="white-text fa fa-2x fa-instagram"></i>
          </a></li>
          <!-- <li style="display:inline-block"><a href="http://www.youtube.com/user/arcana" target="_blank">
            <i class="white-text fa fa-2x fa-youtube-square"></i>
          </a></li> -->
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="copyright center">
        <div class="row">
          <div class="col s4">
            <span class="copyright-links">Web by CamLab</span>
          </div>
          <div class="col s4">
            <a class="copyright-links" href="#!">Términos y condiciones.</a>
          </div>
          <div class="col s4">
            <a class="copyright-links" href="#!">Política de privacidad.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
