<website-menu menu="shop"></website-menu>
<side-title title="PRODUCTOS"></side-title>
<div class="container main-container">
  <!-- <section> -->
    <div class="row">
      <!-- <div class="col s12"> -->
        <!-- <div > -->
          <div *ngFor="let pack of packs" id="{{pack.short_name}}" class="col s12 m6 center">
            <a class="btn-flat" style="height:100%;width:100%;" routerLink="/product/colageno">
              <img class="responsive-img" style="max-width:70%;" src="{{pack.main_image}}">
            </a><br/>
            <a class="waves-effect waves-light arcana-orange btn modal-trigger" (click)="openModal(pack)">
              <i class="material-icons">
                add_shopping_basket
              </i>
            </a>
          </div>
        <!-- </div> -->
        <div *ngIf="packs" class="col s12 m6 center">
          <a class="btn-flat" style="height:100%;width:100%;" routerLink="/product/colageno">
            <img class="responsive-img" style="max-width:70%;" src="img/arcana_working.jpg">
          </a><br/>
          <p><b>Proximamente...</b></p>
        </div>
      <!-- </div> -->
    </div>
  <!-- </section> -->
  <div class="row">
    <div class="col s12">
      &nbsp;
    </div>
  </div>
</div>
<elixir-footer></elixir-footer>
<div id="modal1" class="modal grey lighten-4 grey-text text-darken-4" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content valign-wrapper" style="height:100%;margin:0;width:100%;">
    <div class="row" style="width:100%">
      <div class="col s12" *ngIf="selected_pack">
        <div class="row" *ngFor="let variant of selected_pack.variants" style="margin:0;">
          <div class="col s12 m6">
            <p [innerHTML]="variant.short_desc | safeHtml"></p>
          </div>
          <div class="col s6 m3 arcana-orange-text">
            <b>{{variant.price | currency:'MXN'}}</b>
          </div>
          <div class="col s6 m3">
            <addToCart
              product="{{selected_pack._id}}"
              productName="{{selected_pack.short_name}}"
              variantCode="{{variant.code}}"
              variantDesc="{{variant.description}}"
              variantPrice="{{variant.price}}"
              mainImage="{{selected_pack.main_image}}"
              quantity="1">
            </addToCart>
          </div>
          <div class="col s12">
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer grey lighten-4 grey-text text-darken-4">
    <a class="waves-effect btn-flat grey-text text-darken-4" (click)="closeModal()">Cerrar</a>
  </div>
</div>
