<website-menu menu="landing"></website-menu>
<side-title></side-title>
<div class="row hide-on-small-only" style="margin-left:15vw;margin-bottom:0px;">
  <div class="col s12 no-padding">
    <div style="min-height:46vw;">
      <main-slider [section]="5"></main-slider>
    </div>
  </div>
  <!-- <div class="col s4 no-padding">
    <div style="min-height:80vh;">
      <main-slider [section]="1"></main-slider>
    </div>
  </div>
  <div class="col s4 no-padding">
    <div style="">
      <main-slider [section]="2"></main-slider>
    </div>
  </div>
  <div class="col s4 no-padding">
    <div style="">
      <main-slider [section]="3"></main-slider>
    </div>
  </div> -->
</div>
<div class="row hide-on-med-and-up" style="margin:0;">
  <div class="col s12 no-padding">
    <div style="min-height:100vh;">
      <main-slider [section]="4"></main-slider>
    </div>
  </div>
</div>
<!-- <features></features> -->
<!-- <phone></phone> -->
<elixir-footer></elixir-footer>
