<loader></loader>
<website-menu menu="login"></website-menu>
<div class="row" style="padding-top:50px;">
  <div class="col s12 m8 offset-m2" *ngIf="!signUp">
    <div class="row">
      <div class="col s12">
        <h4 class="arcana-orange-text center">Iniciar Sesión</h4>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 input-field">

        <input id="username" type="text" class="validate box" [(ngModel)]="username">
        <label for="username">Usuario o email</label>
      </div>
      <div class="col s12 m6 input-field">

        <input id="pwd" type="password" class="validate box" [(ngModel)]="pwd">
        <label for="pwd">Contraseña</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center" style="padding-top:40px;">
        <a class="btn arcana-orange waves-effect" (click)="login()">
          Iniciar Sesión
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align">
        <a class="btn-flat arcana-orange-text waves-effect">
          Recuperar contraseña
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        ¿Aún no tienes cuenta?
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 center">
        <a class="btn arcana-orange waves-effect" style="width:80%" (click)="show_signup(1)">
          Crear una cuenta nueva
        </a>
      </div>
      <div class="col s12 m6 center">
        <a class="btn waves-effect" style="width:80%;background: #3B5998;color: white;" (click)="FbLogin()">
          <i class="fa fa-facebook"></i>&nbsp;&nbsp;Iniciar sesión con Facebook
        </a>
      </div>
    </div>
  </div>

  <div class="col s12  m6 offset-m3" *ngIf="signUp">
    <div class="row">
      <div class="col s12">
        <h4 class="arcana-orange-text center">Nuevo Usuario</h4>
      </div>
    </div>
    <div class="row">
      <div class="col m6 s12 input-field">
        <input id="name" type="text" class="validate box" [(ngModel)]="new_user.name">
        <label for="name">Nombre(s)</label>
      </div>
      <div class="col m6 s12 input-field">
        <input id="last_name" type="text" class="validate box" [(ngModel)]="new_user.last_name">
        <label for="last_name">Apellido(s)</label>
      </div>
      <div class="col m4 s12 input-field">
        <input id="email" type="email" class="validate box" [(ngModel)]="new_user.username">
        <label for="email">Email</label>
      </div>
      <div class="col m4 s12 input-field">
        <input id="pwd" type="password" class="validate box" [(ngModel)]="new_user.pwd">
        <label for="pwd">Contraseña</label>
      </div>
      <div class="col m4 s12 input-field">
        <input id="confirmation" type="password" class="validate box" [(ngModel)]="new_user.confirmation">
        <label for="confirmation">Confirmar contraseña</label>
      </div>
      <div class="col m6 s12">
        <p>
          Género:
          <input name="group1" value="M" type="radio" id="test1" [(ngModel)]="new_user.gender"/>
          <label for="test1">Masculino</label>

          <input name="group1" value="F" type="radio" id="test2" [(ngModel)]="new_user.gender" />
          <label for="test2">Femenino</label>
        </p>
      </div>
      <div class="col m4 s12 input-field">
        <input id="datepicker" type="text"
          [(ngModel)]="new_user.birthday"
          materialize="pickadate"
          [materializeParams]="[
            { format:'dd/mm/yyyy',
              selectYears: true,
              selectMonths: true,
              max: true
            }]" />
        <label for="datepicker">Fecha de nacimiento</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m3  center">
        <a class="btn arcana-orange waves-effect" (click)="signup()">
          Crear cuenta
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        ¿Ya tienes una cuenta?
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <a class="btn arcana-orange waves-effect" (click)="show_signup(0)">
          Iniciar Sesión
        </a>
      </div>
    </div>
  </div>
  <!--div class="col m6 hide-on-small-only">
    <div class="row" style="padding-top:20%;">
      <div class="col s12 center">
        <a class="btn waves-effect" style="width:80%;background: #3B5998;color: white;">

          &nbsp;Iniciar sesión con Facebook
        </a>
      </div>
    </div>
    <!--div class="row">
      <div class="col s12 center">
        <a class="btn blue waves-effect" style="width:80%">
          &nbsp;Iniciar sesión con PayPal
        </a>
      </div>
    </div>
  </div> -->
</div>

<elixir-footer></elixir-footer>
