<!-- <div *ngIf="slides">
  <div class="slides_container center" *ngFor="let slide of slides">
    <div class="slide_banner z-depth-4 arcana-orange-text" style="font-size:30px;" [ngClass]="{'slide_banner_active': shown_slide===slide.order}">{{slide.banner}}</div>
    <div class="slide" routerLink="{{slide.link}}" [ngClass]="{'active-slide': shown_slide===slide.order}" >
      <img *ngIf="shown_slide==slide.order" class="slide_img" src="{{slide.url}}">
    </div>
  </div>
</div> -->
<!-- <angular-preloader></angular-preloader> -->
<div *ngIf="slides">
  <div class="slides_container center" *ngFor="let slide of slides">
    <!-- <div *ngIf="slide.banner" class="slide_banner valign-wrapper z-depth-4 flow-text arcana-orange-text" [ngClass]="{'slide_banner_active': shown_slide===slide.order}">{{slide.banner}}</div> -->
    <div class="slide" routerLink="{{slide.link}}" [ngClass]="{'active-slide': shown_slide===slide.order}" >
      <img *ngIf="shown_slide==slide.order" class="slide_img" src="{{slide.url}}">
    </div>
  </div>
</div>
