<website-menu menu="manifest"></website-menu>
<side-title title="MANIFIESTO"></side-title>
<div class="container main-container">
  <div class="row" style="padding-top:20px;">
    <div class="col s12 m6 center" >
      <img src="img/simplicidad.png" class="responsive-img depth-image z-depth-2">
    </div>
    <div class="col s12 m6">
      <h4 style="font-weight:200">MÁXIMA SIMPLICIDAD</h4>
      <p class="justify">
        Seguimos el ejemplo de la naturaleza; los productos que tienen sentido son aquellos que provienen de un origen verificado, elaborados por técnicas de manufactura simple, sin formulaciones complicadas y sin compuestos sintéticos añadidos. Mientras más simple y más natural es cada producto, mejor es su efecto y más fácil es su uso. Creemos en las etiquetas sencillas de leer: no encontrarás agentes, compuestos químicos u otros componentes con nombres impronunciables.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 center" >
      <img src="img/efectividad.png" class="responsive-img depth-image z-depth-2">
    </div>
    <div class="col s12 m6">
      <h4 style="font-weight:200">MÁXIMA EFECTIVIDAD</h4>
      <p class="justify">
        Todos los productos ACANA provienen de una profunda investigación científica aplicada en la creación de polvos y microencapsulados, en los que se expresan las mejores cualidades de ingredientes naturales que nuestro cuerpo necesita para completar sus funciones esenciales de forma óptima.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 center" >
      <img src="img/evitar_enfermedades.png" class="responsive-img depth-image z-depth-2">
    </div>
    <div class="col s12 m6">
      <h4 style="font-weight:200">LA MEJOR SALUD ES EVITAR LAS ENFERMEDADES</h4>
      <p class="justify">
        Tenemos una visión nutracéutica que busca proveer a las personas los elementos que necesitan para mantener el equilibro natural de su cuerpo (homeostasis). La visión tradicional de la salud estaba pensada en curar personas que presentan síntomas de enfermedad, una visión más avanzada y responsable es educar y proveer los elementos nutricionales que contribuyen  a conservar el balance y evitar la enfermedad.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 center" >
      <img src="img/aporte.png" class="responsive-img depth-image z-depth-2">
    </div>
    <div class="col s12 m6">
      <h4 style="font-weight:200">MÁXIMO APORTE SOCIAL Y AMBIENTAL</h4>
      <p class="justify">
        En la medida en que en América Latina seamos capaces de superar el rol histórico de simples proveedores de materias primas y pasemos a ocupar un status de creadores de productos con valor agregado, estaremos entonces idealmente posicionados para mejorar sensiblemente la calidad de vida de nuestros trabajadores del campo. El beneficio económico resultado de lo anterior se exponencia con el beneficio social de consumir productos naturalmente buenos, combatiendo así la desnutrición y la obesidad que nos aquejan a todos, pero principalmente a nuestros hermanos más vulnerables.
      </p>
    </div>
  </div>
</div>
<elixir-footer></elixir-footer>
