<website-menu menu="shop"></website-menu>
<side-title title="COLÁGENO"></side-title>
<div class="row">
  <show-product [pack]="packs[0]"></show-product>
</div>
<elixir-footer class="hide-on-med-and-up"></elixir-footer>
