<side-title title="PAGO"></side-title>
<section *ngIf="from!='admin'">
  <loader></loader>
  <website-menu menu="cart"></website-menu>
  <div class="navbar-fixed" style="z-index:900;">
    <nav>
      <div class="nav-wrapper grey lighten-3">
        <ul id="nav-mobile" class="center">
          <div class="row center">
            <div class="col s4">
              <li style="min-width: 100%">
                <i class="material-icons">
                  shopping_basket
                </i>
              </li>
            </div>
            <div class="col s4">
              <li style="min-width: 100%" >
                <i class="material-icons">
                  local_shipping
                </i>
              </li>
            </div>
            <div class="col s4 no-padding">
              <li style="min-width: 100%"  class="active grey lighten-2 arcana-orange-text">
                <i class="material-icons">
                  payment
                </i>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</section>
<div class="container main-container">
  <div class="row">
    <div class="col s12 m6">
      <!-- <div class="row">
        <div class="col s12 m6 input-field">
          <select [ngModel]="payment" (ngModelChange)="selectPayment($event)" materialize="material_select" [materializeSelectOptions]="{}">
            <option [value]="'card'">Tarjeta</option>
            <option [value]="'paypal'">PayPal</option>
          </select>
          <label></label>
        </div>
      </div> -->

      <!-- <section id="paypal" *ngIf="payment=='paypal'">
        <p class="justified">
          Para el proceso de pago con Paypal se abrirá una ventana aparte, y una vez que realices ahí tu pago volverás a nuestro sitio.
        </p>
      </section> -->
      <section id="card">
        <p>
          <input type="checkbox" id="same" (change)="checkEvent()" checked/>
          <label for="same">Utilizar la información de envío</label>
        </p>
        <div class="row">
          <div class="col s6 input-field">
            <input id="name" placeholder=" " type="text" class="validate box" [(ngModel)]="card.name">
            <label for="name">Nombre del titular</label>
          </div>
          <div class="col s6 input-field">
            <input id="last_name" placeholder=" " type="text" class="validate box" [(ngModel)]="card.last_name">
            <label for="last_name">Apellidos del titular</label>
          </div>
          <div class="col s12 input-field">
            <input id="number" maxlength="16" placeholder=" " type="text" class="validate box" [(ngModel)]="card.number">
            <label for="number">No. de tarjeta</label>
          </div>
          <div class="col s6 input-field">
            <input id="validTo" placeholder=" " type="text" class="validate box" [(ngModel)]="card.validTo" maxlength="5" (ngModelChange)="expireDateSlash()">
            <label for="validTo">Vencimiento MM/YY</label>
          </div>
          <div class="col s6 input-field">
            <input id="cvv" maxlength="4" placeholder=" " type="text" class="validate box" [(ngModel)]="card.cvv">
            <label for="cvv">CVV</label>
          </div>
          <div class="col s6 input-field">
            <input id="phone" placeholder=" " type="text" class="validate box" [(ngModel)]="address.phone">
            <label for="phone">Teléfono (10 dígitos)</label>
          </div>
          <div class="col s6 input-field">
            <input id="cell" placeholder=" " type="text" class="validate box" [(ngModel)]="address.cell">
            <label for="cell">Celular (10 dígitos)</label>
          </div>
          <div class="col s6 input-field">
            <input id="street" placeholder=" " type="text" class="validate box" [(ngModel)]="address.street">
            <label for="street">Calle y número</label>
          </div>
          <div class="col s6 input-field">
            <input id="street2" placeholder=" " type="text" class="validate box" [(ngModel)]="address.street2">
            <label for="street2">Colonia</label>
          </div>
          <div class="col s6 input-field">
            <input id="zip" placeholder=" " type="text" class="validate box" [(ngModel)]="address.zip">
            <label for="zip">C.P.</label>
          </div>
          <div class="col s6 input-field">
            <input id="town" placeholder=" " type="text" class="validate box" [(ngModel)]="address.town">
            <label for="town">Municipio/Delegación</label>
          </div>
          <div class="col s6 input-field">
            <!-- <input id="state" placeholder=" " type="text" class="validate box" [(ngModel)]="address.state">
            <label for="state">Estado</label> -->
            <select name="singleSelect" [(ngModel)]="address.state" name="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions" >
                <option value="" disabled selected>Estado</option>
                <option value="Aguascalientes">Aguascalientes</option>
                <option value="Baja California">Baja California</option>
                <option value="Baja California Sur">Baja California Sur</option>
                <option value="Campeche">Campeche</option>
                <option value="CDMX">CDMX</option>
                <option value="Chiapas">Chiapas</option>
                <option value="Chihuahua">Chihuahua</option>
                <option value="Coahuila">Coahuila</option>
                <option value="Colima">Colima</option>
                <option value="Durango">Durango</option>
                <option value="Guanajuato">Guanajuato</option>
                <option value="Guerrero">Guerrero</option>
                <option value="Hidalgo">Hidalgo</option>
                <option value="Jalisco">Jalisco</option>
                <option value="Estado de México">Estado de México</option>
                <option value="Michoacán">Michoacán</option>
                <option value="Morelos">Morelos</option>
                <option value="Nayarit">Nayarit</option>
                <option value="Nuevo León">Nuevo León</option>
                <option value="Oaxaca">Oaxaca</option>
                <option value="Puebla">Puebla</option>
                <option value="Querétaro">Querétaro</option>
                <option value="Quintana Roo">Quintana Roo</option>
                <option value="San Luis Potosí">San Luis Potosí</option>
                <option value="Sinaloa">Sinaloa</option>
                <option value="Sonora">Sonora</option>
                <option value="Tabasco">Tabasco</option>
                <option value="Tamaulipas">Tamaulipas</option>
                <option value="Tlaxcala">Tlaxcala</option>
                <option value="Veracruz">Veracruz</option>
                <option value="Yucatán">Yucatán</option>
                <option value="Zacatecas">Zacatecas</option>
              </select>
              <label>Estado</label>
          </div>
          <div class="col s6 input-field">
            <input id="country" placeholder=" " type="text" class="validate box" [(ngModel)]="address.country" disabled>
            <label for="country">País</label>
          </div>
        </div>
      </section>
    </div>

    <div class="col s12 m6" style="border-left:solid 2px #4434">
      <div class="row">
        <div class="col s12">
          <table class="responsive-table">
            <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of cart.cart;let i = index">
                <td style="padding:0;padding-top:15px;padding-bottom:15px;">{{item.productName}}
                </td>
                <td style="padding:0;padding-top:15px;padding-bottom:15px;">{{item.price | currency:'MXN'}}
                </td>
                <td style="padding:0;padding-top:15px;padding-bottom:15px;">
                  {{item.quantity}}
                </td>
                <td style="padding:0;padding-top:15px;padding-bottom:15px;" class="right-align">
                  <span *ngIf="item.discount">-{{item.discount.amount | number:'.2'}} = </span>{{item.amount | currency:'MXN'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col s12" >
          <div class="row">
            <div class="col s6">
              <h6 >
                Subtotal:<br>
              </h6>
            </div>
            <div class="col s6 right-align">
              <h6 >
                {{cart.subtotal | currency:'MXN'}}
              </h6>
            </div>
          </div>
          <div class="row" *ngIf="cart.applied_code">
            <div class="col s12">
              <h6 class=" left">
                Código aplicado: {{cart.applied_code}}<span *ngIf="cart.discount">, descuento: {{cart.discount.amount | currency:'MXN'}}</span>
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <h6 class=" left">
                Envío:
              </h6>
            </div>
            <div class="col s6 right-align">
              <h6>
                {{cart.shipping_cost | currency:'MXN'}}
              </h6>
            </div>
          </div>
          <div class="row">
            <div class="col s6">
              <h5>
                Total:<br>
              </h5>
            </div>
            <div class="col s6 right-align">
              <h5 >
                {{cart.amount | currency:'MXN'}}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="row">
        <div class="col s12 m6">
          <a (click)="checkout()" class="waves-effect waves-light btn-large arcana-orange" style="width:100%;height:45px;">
            COMPLETAR ORDEN
          </a>
        </div>
        <div class="col s12 m6">
          <div id="paypal-button-container" ></div>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="row">
        <div class="col s12 m12">
          <div class="row center">
            <p>
              Aparte de tu recibo digital que llegará en unos momentos a tu correo, ¿Requieres factura?
            </p>
          </div>
          <div class="row center">
            <p>
              <input name="group1" type="radio" id="test1" />
              <label for="test1">Si, por favor</label>

              <input name="group1" type="radio" id="test2" checked/>
              <label for="test2">No, gracias</label>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<input id="ppstate" type="hidden" value="">
<div id="modal" class="modal grey lighten-4 grey-text text-darken-4" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content center valign-wrapper" style="height:100%;">
    <div class="row">
      <div class="col s12 m4 offset-m4">
        <img class="responsive-img" src="https://camlab.website/iconoArcana.png">
      </div>
    </div>
    <div class="row center">
      <p class="grey-text text-darken-4">
        GRACIAS POR CONFIAR EN ARCANA<br/>
        <br/>
        Recibirás en un momento un correo electrónico con los detalles de tu compra.<br/>
        <br/>
        Contacto: hola@arcana.com<br/>
      </p>
    </div>
  </div>
  <div class="modal-footer grey lighten-4 ">
    <a (click)="closeModal()" routerLink="/" class="waves-effect waves-green btn-flat grey-text text-darken-4">Terminar</a>
  </div>
</div>
<elixir-footer *ngIf="from!='admin'"></elixir-footer>
