<side-title title="ENVÍO"></side-title>
<section *ngIf="from!='admin'">
  <website-menu menu="cart"></website-menu>

  <div class="navbar-fixed" style="z-index:900;">
    <nav>
      <div class="nav-wrapper grey lighten-3">
        <ul id="nav-mobile" class="center">
          <div class="row center">
            <div class="col s4">
              <li style="min-width: 100%" >
                <i class="material-icons">
                  shopping_basket
                </i>
              </li>
            </div>
            <div class="col s4 no-padding">
              <li style="min-width: 100%" class="active grey lighten-2 arcana-orange-text">
                <i class="material-icons">
                  local_shipping
                </i>
              </li>
            </div>
            <div class="col s4">
              <li style="min-width: 100%" >
                <i class="material-icons">
                  payment
                </i>
              </li>
            </div>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</section>
<div class="container main-container">
  <div class="row">
    <div class="col s12 m6 l6">
      <section *ngIf="user_address.length<1 || new_address">
        <!-- <div class="side-title" style="line-height:60px;max-width:400px;position:relative;">Datos de envío</div> -->
        <div class="row">
          <div >
            <div class="col s6 input-field">
              <input id="name" placeholder=" " type="text" class="validate box" [(ngModel)]="address.name" (change)="addressModification()" maxlength="14">
              <label for="name">Nombre</label>
            </div>
            <div class="col s6 input-field">
              <input id="last_name" placeholder=" "  type="text" class="validate box" [(ngModel)]="address.last_name" (change)="addressModification()" maxlength="14">
              <label for="last_name">Apellidos</label>
            </div>
            <div class="col s12 m6 input-field">
              <input id="email" placeholder=" "  type="email" class="validate box" [(ngModel)]="address.email" (change)="addressModification()" maxlength="60">
              <label for="email">Email</label>
            </div>
            <div class="col s12 m6 input-field">
              <input id="emailconf" placeholder=" "  type="text" class="validate box" [(ngModel)]="address.emailconf" (change)="addressModification()">
              <label for="emailconf">Confirmar email</label>
            </div>
            <!-- <div class="col s12 m6 input-field">
              <input id="pwd" type="password" class="validate box" [(ngModel)]="address.pwd" (change)="addressModification()">
              <label for="pwd">Contraseña para rastrear tu pedido</label>
            </div>
            <div class="col s12 m6 input-field">
              <input id="pwdconf" type="password" class="validate box" [(ngModel)]="address.pwdconf">
              <label for="pwdconf">Confirmar contraseña</label>
            </div> -->
          </div>
          <div class="col s12 m6 input-field">
            <input id="phone" placeholder=" "  type="text" class="validate box" [(ngModel)]="address.phone" (change)="addressModification()" maxlength="18">
            <label for="phone">Teléfono (10 dígitos)</label>
          </div>
          <div class="col s12 m6 input-field">
            <input id="cell" placeholder=" "  type="text" class="validate box" [(ngModel)]="address.cell" (change)="addressModification()">
            <label for="cell">Celular (10 dígitos)</label>
          </div>
          <div class="col s12 m6 input-field">
            <input id="street" placeholder=" "  type="text" class="validate box" [(ngModel)]="address.street" (change)="attemptGeocode();addressModification();" maxlength="24">
            <label for="street">Calle</label>
          </div>
          <div class="col s12 m6 input-field">
            <input id="number" placeholder=" "  type="text" class="validate box" [(ngModel)]="address.number" (change)="attemptGeocode();addressModification();" maxlength="5">
            <label for="number">Número</label>
          </div>
          <div class="col s12 m6 input-field">
            <input id="int" placeholder=" "  type="text" class="validate box" [(ngModel)]="address.int" (change)="addressModification();">
            <label for="int">Interior</label>
          </div>
          <div class="col s12 m6 input-field">
            <input id="street2" placeholder=" "  type="text" class="validate box" [(ngModel)]="address.street2" (change)="attemptGeocode();addressModification();" maxlength="30">
            <label for="street2">Colonia</label>
          </div>
          <div class="col s12 m6 input-field">
            <input id="street2" placeholder=" "  type="text" class="validate box" [(ngModel)]="address.street3" >
            <label for="street2">Delegación o Municipio</label>
          </div>
          <div class="col s12 m6 input-field">
            <input id="zip" placeholder=" "  type="text" class="validate box" [(ngModel)]="address.zip" (change)="attemptGeocode();addressModification();" maxlength="5">
            <label for="zip">C.P.</label>
          </div>
          <div class="col s12 m6 input-field">
            <!-- <input id="street2" placeholder=" "  type="text" class="validate box" [(ngModel)]="address.state" (change)="attemptGeocode();addressModification();">
            <label for="street2">Estado</label> -->
            <select name="singleSelect" [(ngModel)]="address.state" name="selectedOption" materialize="material_select" [materializeSelectOptions]="selectOptions" >
                <option value="" disabled selected>Estado</option>
                <option value="Aguascalientes">Aguascalientes</option>
                <option value="Baja California">Baja California</option>
                <option value="Baja California Sur">Baja California Sur</option>
                <option value="Campeche">Campeche</option>
                <option value="CDMX">CDMX</option>
                <option value="Chiapas">Chiapas</option>
                <option value="Chihuahua">Chihuahua</option>
                <option value="Coahuila">Coahuila</option>
                <option value="Colima">Colima</option>
                <option value="Durango">Durango</option>
                <option value="Guanajuato">Guanajuato</option>
                <option value="Guerrero">Guerrero</option>
                <option value="Hidalgo">Hidalgo</option>
                <option value="Jalisco">Jalisco</option>
                <option value="Estado de México">Estado de México</option>
                <option value="Michoacán">Michoacán</option>
                <option value="Morelos">Morelos</option>
                <option value="Nayarit">Nayarit</option>
                <option value="Nuevo León">Nuevo León</option>
                <option value="Oaxaca">Oaxaca</option>
                <option value="Puebla">Puebla</option>
                <option value="Querétaro">Querétaro</option>
                <option value="Quintana Roo">Quintana Roo</option>
                <option value="San Luis Potosí">San Luis Potosí</option>
                <option value="Sinaloa">Sinaloa</option>
                <option value="Sonora">Sonora</option>
                <option value="Tabasco">Tabasco</option>
                <option value="Tamaulipas">Tamaulipas</option>
                <option value="Tlaxcala">Tlaxcala</option>
                <option value="Veracruz">Veracruz</option>
                <option value="Yucatán">Yucatán</option>
                <option value="Zacatecas">Zacatecas</option>
              </select>
              <label>Estado</label>
          </div>
          <div class="col s12 m6 input-field">
            <input id="street2" placeholder=" " type="text" class="validate box" value="México" disabled>
            <label for="street2">País</label>
          </div>
          <div class="col s12 input-field">
            <input id="crossStreet" placeholder=" " type="text" class="validate box" [(ngModel)]="address.crossStreet" (change)="addressModification()" maxlength="35">
            <label for="crossStreet">Entre calles</label>
          </div>
          <div class="col s12 input-field">
            <input id="reference" placeholder=" " type="text" class="validate box" [(ngModel)]="address.reference" (change)="addressModification()" maxlength="25">
            <label for="reference">Referencias</label>
          </div>
        </div>

        <div class="row" *ngIf="checked">
          <div class="col s12 center">
            <a *ngIf="from!='admin'" class="btn arcana-orange waves-effect" (click)="Continue()">
              Continuar
            </a>
          </div>
        </div>
        <!-- <div class="row center">
          <a class="btn light-green waves-effect" (click)="geocode(map)">
            Verificar
          </a>
        </div> -->
      </section>
    </div>
    <div class="col s12 m6 l6">
      <div class="row">
        <!-- <div class="side-title" style="line-height:60px;position:relative;">Ubicación</div> -->
      </div>
      <input type="hidden" id="lat">
      <input type="hidden" id="lng">
      <input type="hidden" id="city">
      <input type="hidden" id="country">
      <div id="map" class="map"></div>
    </div>
  </div>
</div>
<elixir-footer *ngIf="from!='admin'"></elixir-footer>

<div id="modal" class="modal grey lighten-4 grey-text text-darken-4" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content valign-wrapper" style="height:100%;">
    <div class="container" style="margin:5vw;width:100%;">
      <div class="row">
        <div class="col s12 center">
          !Ups¡ Parece que ya existe un usuario registrado con ese correo electrónico, tenemos las siguientes opciones:
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a class="btn arcana-orange" style="width:100%" routerLink='/login'>
            Iniciar Sesión
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <a class="btn arcana-orange" style="width:100%" (click)="CheckoutNoLogin()">
            Soy yo, continuar sin iniciar sesión
          </a>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col s12">
          <a class="btn" style="width:100%" (click)="CheckoutNoUser()">
            No soy yo, continuar con la compra
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div id="modalQuotes" class="modal grey lighten-4 grey-text text-darken-4" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="quoteModalActions">
  <div class="modal-content valign-wrapper" style="height:100%;">
    <div class="container" style="margin:5vw;width:100%;">
      <div class="row center">
        <h4>Selecciona el tipo de envío</h4>
      </div>
      <div class="row center">
        <p  *ngFor="let quote of quotes;let i=index">
          <input name="group1" type="radio" id="{{i}}" [(ngModel)]="selected_quote" value="{{i}}" />
          <label for="{{i}}">{{quote.desc}} <span class="arcana-orange-text">${{quote.total | number:'.2'}}</span></label>
        </p>
      </div>
      <div class="row center">
        <a class="btn arcana-orange" (click)="SetQuote()">
          Continuar
        </a>
      </div>
    </div>
  </div>
</div>
