<div class="product-main hide-on-small-only">
  <img src="{{pack.full_image}}" style="width:100%" class="responsive-img"/>
  <div class="product-content">
    <div class="row" style="height:65vh">
      <div class="col l5 m5">
        <div class="row" style="margin-top:60px;">
          <div class="col s12" >
            <!-- <div class="row center">
              <b><p>UNA SOLA ENTREGA</p></b><br/>
              <p style="margin-top:-30px">(Pago en una exhibición)</p>
            </div> -->
            <div class="row" style="border-bottom:1px solid #616161" *ngFor="let v of pack.variants">
              <div class="col s10 grey-text text-darken-3">
                <b><p style="margin:0" [innerHTML]="v.short_desc | safeHtml"></p></b>
                <b style="font-size:1.2rem;" [innerHTML]="v.payment_desc | safeHtml"></b>
              </div>
              <div class="col s2 center valign-wrapper">
                <addToCart style="float:right;"
                product="{{pack._id}}"
                productName="{{pack.short_name}}"
                variantCode="{{v.code}}"
                variantDesc="{{v.short_desc}}"
                variantPrice="{{v.price}}"
                mainImage="{{pack.main_image}}"
                quantity="1">
                </addToCart>
              </div>
            </div>
          </div>
          <!-- <div class="col s12">
            <div class="row center">
              <b><p>SUSCRIPCIÓN / ENTREGAS MENSUALES</p></b><br/>
              <p style="margin-top:-30px">(Pagos recurrentes)</p>
            </div>
            <div class="row" style="border-bottom:1px solid #616161" *ngFor="let v of pack.suscriptions">
              <div class="col s10 grey-text text-darken-3">
                <b><p style="margin:0" [innerHTML]="v.short_desc | safeHtml"></p></b>
                <b style="font-size:1.2rem;" [innerHTML]="v.payment_desc | safeHtml"></b>
              </div>
              <div class="col s2 center valign-wrapper">
                <addToCart style="float:right;"
                product="{{pack._id}}"
                productName="{{pack.short_name}}"
                variantCode="{{v.code}}"
                variantDesc="{{v.short_desc}}"
                variantPrice="{{v.price}}"
                mainImage="{{pack.main_image}}"
                quantity="1">
                </addToCart>
              </div>
            </div>
          </div> -->
          <div class="col s12">
            <div class="row center">
              <span style="font-size:x-small">*Entregas fuera de CDMX, Área Metropolitana y Toluca el costo se cotiza automáticamente en el proceso de compra.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col l4 offset-l2 m4 offset-m4">
        <div class="row">
          <div class="col m12">
            <p style="line-height:1rem;" [innerHTML]="pack.description" class="left">
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col s12 center">
        <div class="row">
          <div class="col s12">
            <ul class="tabs" materialize="tabs" style="background-color:rgba(0,0,0,0)">
              <li class="tab col s6" style="border-right:solid grey"><a >Estudios</a></li>
              <li class="tab col s6"><a class="active" >Proceso</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <video class="responsive-video" controls>
          <source src="https://camlab.website/procesoArcana.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</div>
<section class="hide-on-med-and-up">
  <div class="row">
    &nbsp;
  </div>

  <div class="row" style="padding-bottom:40px;">
    <div class="col s12 m4 center">
      <img src="{{pack.main_image}}" style="width:70%" class="responsive-img"/>
    </div>
    <div class="col s12 m8 ">
      <div class="row">
        <div class="col s12">
          <span class="product-title">{{pack.name}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12 hide-on-small-only">
          <p style="line-height:1rem;" [innerHTML]="pack.description" class="justify">
          </p>
        </div>
        <!-- <div class="col s12 grey-text text-darken-3">
          <div class="row center">
            <b><p>PRODUCTO</p></b>
          </div>
          <div class="row" *ngFor="let v of pack.variants">
            <div class="col s12 grey-text text-darken-3" >
              <div class="col s12 center">
                <b><p [innerHTML]="v.short_desc | safeHtml"></p></b>
              </div>
              <div class="col s12">
                <addToCart
                product="{{pack._id}}"
                productName="{{pack.short_name}}"
                variantCode="{{v.code}}"
                variantDesc="{{v.short_desc}}"
                variantPrice="{{v.price}}"
                mainImage="{{pack.main_image}}"
                quantity="1">
                </addToCart>
              </div>
              <div class="col s12 center">
                <b style="font-size:1.2rem;" [innerHTML]="v.payment_desc | safeHtml"></b><br>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12">
          <div class="row center">
            <b><p>SUSCRIPCIONES</p></b>
          </div>
          <div class="row" *ngFor="let v of pack.suscriptions">
            <div class="col s12 grey-text text-darken-3" >
              <div class="col s12 center">
                <b><p [innerHTML]="v.short_desc | safeHtml"></p></b>
              </div>
              <div class="col s12">
                <addToCart
                product="{{pack._id}}"
                productName="{{pack.short_name}}"
                variantCode="{{v.code}}"
                variantDesc="{{v.short_desc}}"
                variantPrice="{{v.price}}"
                mainImage="{{pack.main_image}}"
                quantity="1">
                </addToCart>
              </div>
              <div class="col s12 center">
                <b style="font-size:1.2rem;" [innerHTML]="v.payment_desc | safeHtml"></b><br>
              </div>
            </div>
          </div>
        </div> -->

      </div>
      <div class="row" >
        <div class="col s12" >
          <!-- <div class="row center">
            <b><p>UNA ENTREGA</p></b>
          </div> -->
          <div class="row" style="border-bottom:1px solid #616161" *ngFor="let v of pack.variants">
            <div class="col s10 grey-text text-darken-3">
              <b><p style="margin:0" [innerHTML]="v.short_desc | safeHtml"></p></b>
              <b style="font-size:1.2rem;" [innerHTML]="v.payment_desc | safeHtml"></b>
            </div>
            <div class="col s2 center valign-wrapper">
              <addToCart style="float:right;"
              product="{{pack._id}}"
              productName="{{pack.short_name}}"
              variantCode="{{v.code}}"
              variantDesc="{{v.short_desc}}"
              variantPrice="{{v.price}}"
              mainImage="{{pack.main_image}}"
              quantity="1">
              </addToCart>
            </div>
          </div>
        </div>
        <!-- <div class="col s12">
          <div class="row center">
            <b><p>SUSCRIPCIONES</p></b>
          </div>
          <div class="row" style="border-bottom:1px solid #616161" *ngFor="let v of pack.suscriptions">
            <div class="col s10 grey-text text-darken-3">
              <b><p style="margin:0" [innerHTML]="v.short_desc | safeHtml"></p></b>
              <b style="font-size:1.2rem;" [innerHTML]="v.payment_desc | safeHtml"></b>
            </div>
            <div class="col s2 center valign-wrapper">
              <addToCart style="float:right;"
              product="{{pack._id}}"
              productName="{{pack.short_name}}"
              variantCode="{{v.code}}"
              variantDesc="{{v.short_desc}}"
              variantPrice="{{v.price}}"
              mainImage="{{pack.main_image}}"
              quantity="1">
              </addToCart>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col s12 m8 offset-m4">
      <div class="row">
        <div class="col s12">
          <ul class="tabs" materialize="tabs">
            <li class="tab col s6" style="border-right:solid grey"><a >Estudios</a></li>
            <li class="tab col s6"><a class="active" >Proceso</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <video class="responsive-video" controls>
        <source src="https://camlab.website/procesoArcana.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</section>
<!-- Modal Structure -->
<div id="modal1" class="modal grey darken-4 grey-text text-lighten-4" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">
  <div class="modal-content valign-wrapper" style="height:100%;margin:0;width:100%;">
    <div class="row" style="width:100%">
      <div class="col s12" *ngIf="selected_pack">
        <div class="row" *ngFor="let variant of selected_pack.variants" style="margin:0;">
          <div class="col s12 m6">
            {{variant.short_desc}}
          </div>
          <div class="col s6 m3 light-green-text">
            <b>{{variant.payment_desc}}</b>
          </div>
          <div class="col s6 m3">
            <addToCart
              product="{{selected_pack._id}}"
              productName="{{selected_pack.short_name}}"
              variantCode="{{variant.code}}"
              variantDesc="{{variant.description}}"
              variantPrice="{{variant.price}}"
              mainImage="{{selected_pack.main_image}}"
              quantity="1">
            </addToCart>
          </div>
          <div class="col s12">
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer grey darken-4 grey-text text-lighten-4">
    <a class="waves-effect waves-green btn-flat grey-text text-lighten-4" (click)="closeModal()">Cerrar</a>
  </div>
</div>
