
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.subtitle{
  line-height:30px;
  color:#9dcf47;
  font-size:25px;
  text-transform: uppercase;
  font-family:Titillium_webthin;
}

.main-container{
  min-height:100vh !important;
  /* margin-bottom: -100px !important;
  padding-bottom: 100px; */
}

.justify{
  text-align: justify;
  text-justify: inter-word;
}
/* Tooltip container */
.tooltip {
   position: relative;
   display: inline-block;
   /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: black;
   color: #fff;
   text-align: center;
   padding: 5px 0;
   border-radius: 50%;
   width:55px;
   height: 55px;
   font-size: 12px;
   /* Position the tooltip text */
   position: absolute;
   z-index: 1;
   bottom: 110%;
   left: 50%;
   margin-left: -25px;

   /* Fade in tooltip */
   opacity: 0;
   transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
}

.elixir-p{
  font-family: 'Titillium-webregular';
  color: #636363;
  font-size:14px;
}
p{
  font-family: 'Titillium-webregular' inherit;
  color: #636363;
  font-size:14px;
}

.share_text{
  color: #C2C2C2;
  font-size: 12px;
}

.share_block{
  height: 23px;
  margin: 0 !important;
  padding: 0 !important;
}

.share_block ul{
  list-style: none;
}

ul.share_block li{
  height: 25px;
  display: inline-block;
  position: relative;
  width: 25px;
}

.share_division{
  width: 50px;
  float: left;
  clear: both;
  margin-top: 18px;
  border: 1px solid #C4C3C3;
}

.fb_share{
  background-image: url('https://www.elixirdetox.com/assets/store/share_facebook.png');
  background-repeat: no-repeat;
  float: left;
  display: inline-block;
  height: 24px;
  width: 22px;
  cursor: pointer;
}
.tw_share{
  background-image: url('https://www.elixirdetox.com/assets/store/share_twitter.png');
  background-repeat: no-repeat;
  float: left;
  display: inline-block;
  height: 24px;
  width: 22px;
  cursor: pointer;
}
.pin_share{
  background-image: url('https://www.elixirdetox.com/assets/store/share_pinterest.png');
  background-repeat: no-repeat;
  float: left;
  display: inline-block;
  height: 24px;
  width: 22px;
  cursor: pointer;
}
.insta_share{
  background-image: url('https://www.elixirdetox.com/assets/store/instagram.png');
  background-repeat: no-repeat;
  float: left;
  display: inline-block;
  height: 24px;
  width: 22px;
  cursor: pointer;
}
.order-card{
  cursor:pointer;
}
.order-card:hover{
  box-shadow: 0 6px 10px 0 rgba(65,255,0,0.14),0 1px 18px 0 rgba(65,255,0,0.12),0 3px 5px -1px rgba(65,255,0,0.3);
}
.floating-button-card{
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.depth-image{
  border-radius: 10px;
}

.pulse {
  animation: pulse 3s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  padding-bottom: 30px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
